<div class="color-filter">
  <h4>CHỌN MÀU</h4>
  <div class="color-grid">
    <div
      class="color-item"
      *ngFor="let color of visibleColors"
      [class.selected]="selectedColorName === color.name"
      (click)="onSelectColor(color.name)">
      <div class="color-circle" [style.background]="color.code"></div>
      <span class="color-count">{{ color.count }}</span>
    </div>
  </div>
  <button *ngIf="selectedColorName" (click)="clearSelectedColor()">Bỏ chọn màu</button>
  <button (click)="toggleShowAll()">
    {{ showAll ? 'Thu gọn' : 'Xem thêm' }}
  </button>
</div>
