<footer class="footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="top-section social">
        <h4 class="section-title">Theo dõi chúng tôi</h4>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-tiktok"></i></a>
        </div>
      </div>

      <div class="top-section apps">
        <h4 class="section-title">Tải ứng dụng SportTN</h4>
        <div class="app-buttons">
          <img src="assets/images/appstore.png" alt="App Store" class="app-img">
          <img src="assets/images/googleplay.png" alt="Google Play" class="app-img">
        </div>
      </div>

      <div class="top-section bct">
        <img src="assets/images/logo-bct.png" alt="Đã thông báo bộ công thương" class="bct-img">
      </div>
    </div>

    <hr class="footer-divider">

    <div class="footer-main">
      <div class="link-column">
        <h4>Hỗ Trợ Khách Hàng</h4>
        <ul>
          <li><a href="#">> Liên hệ CSKH</a></li>
          <li><a href="#">> Hướng dẫn đặt hàng</a></li>
          <li><a href="#">> Đổi trả & Bảo hành</a></li>
          <li><a href="#">> Quy trình trả hàng trực tuyến</a></li>
          <li><a href="#">> Phương thức giao hàng</a></li>
          <li><a href="#">> Phương thức thanh toán</a></li>
        </ul>
      </div>

      <div class="link-column">
        <h4>Về SportTN</h4>
        <ul>
          <li><a href="#">> SportTN là ai?</a></li>
          <li><a href="#">> Phát Triển Bền Vững</a></li>
          <li><a href="#">> Tuyển Dụng</a></li>
          <li><a href="#">> Blog Thể Thao</a></li>
        </ul>
      </div>

      <div class="link-column">
        <h4>Mua Sắm Tại SportTN</h4>
        <ul>
          <li><a href="#">> Danh sách cửa hàng</a></li>
          <li><a href="#">> Click & Collect</a></li>
          <li><a href="#">> Ứng dụng SportTN</a></li>
          <li><a href="#">> Đơn hàng doanh nghiệp</a></li>
          <li><a href="#">> Thẻ quà tặng SportTN</a></li>
        </ul>
      </div>

      <div class="link-column">
        <h4>Pháp Lý</h4>
        <ul>
          <li><a href="#">> Chính sách mua hàng</a></li>
          <li><a href="#">> Chính sách bảo mật</a></li>
          <li><a href="#">> Bản công bố sản phẩm</a></li>
          <li><a href="#">> Thu hồi sản phẩm</a></li>
        </ul>
      </div>

      <div class="link-column">
        <h4>Sản Phẩm Nổi Bật</h4>
        <ul>
          <li><a href="#">> Kính Bơi</a></li>
          <li><a href="#">> Giày Chạy Bộ</a></li>
          <li><a href="#">> Đồ Bơi</a></li>
          <li><a href="#">> Lều Cắm Trại</a></li>
          <li><a href="#">> Giày Trượt Patin</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
