<div class="homepage">

  <!-- Hero banner -->
  <app-hero-banner [slides]="heroBanners"></app-hero-banner>

  <!-- Value bar -->
  <app-value-bar></app-value-bar>

  <!-- Category circles -->
<!--  <app-category-circles></app-category-circles>-->

  <!-- Most searched -->
  <app-most-searched [products]="mostSearched" title="Sản phẩm được tìm kiếm nhiều nhất"></app-most-searched>

  <!-- Sports popular -->
  <app-sports-popular [categories]="sportsPopular"></app-sports-popular>

  <!-- Best seller -->
<!--  <app-best-seller [products]="bestSellers"></app-best-seller>-->

  <!-- Cheap quality -->
<!--  <app-cheap-quality [products]="cheapQuality"></app-cheap-quality>-->

  <ng-container *ngFor="let categorySection of categorySections">
    <app-section
      [title]="categorySection.title"
      [banners]="categorySection.banners"
      [childrenCategories]="categorySection.subCategories"
      [products]="categorySection.products">
    </app-section>
  </ng-container>

  <!-- Promo banner -->
  <app-promo-banner></app-promo-banner>

  <app-services></app-services>

  <app-company-info></app-company-info>

</div>
