<div class="homepage">

  <!-- Hero banner -->
  <app-hero-banner [slides]="heroBanners"></app-hero-banner>

  <!-- Value bar -->
  <app-value-bar></app-value-bar>

  <!-- Category circles -->
  <app-category-circles></app-category-circles>

  <!-- Most searched -->
  <app-most-searched [products]="mostSearched"></app-most-searched>

  <!-- Sports popular -->
  <app-sports-popular [categories]="sportsPopular"></app-sports-popular>

  <!-- Best seller -->
  <app-best-seller [products]="bestSellers"></app-best-seller>

  <!-- Cheap quality -->
  <app-cheap-quality [products]="cheapQuality"></app-cheap-quality>

  <!-- Section: Bơi lội -->
<!--  <app-section-->
<!--    [title]="'Tự tin bơi lội'"-->
<!--    [banners]="swimBanners"-->
<!--    [products]="swimProducts">-->
<!--  </app-section>-->

<!--  &lt;!&ndash; Section: Chạy bộ &ndash;&gt;-->
<!--  <app-section-->
<!--    [title]="'Bền bỉ mọi chặng đường'"-->
<!--    [banners]="runBanners"-->
<!--    [products]="runProducts">-->
<!--  </app-section>-->

<!--  &lt;!&ndash; Section: Chống nắng &ndash;&gt;-->
<!--  <app-section-->
<!--    [title]="'Thoải mái dưới nắng'"-->
<!--    [banners]="sunBanners"-->
<!--    [products]="sunProducts">-->
<!--  </app-section>-->

  <ng-container *ngFor="let categorySection of categorySections">
    <app-section
      [title]="categorySection.title"
      [banners]="categorySection.banners"
      [products]="categorySection.products">
    </app-section>
  </ng-container>

  <!-- Promo banner -->
  <app-promo-banner></app-promo-banner>

  <app-services></app-services>

</div>
