<div class="value-bar">
  <div class="value-item">
    <mat-icon>fast_forward</mat-icon>
    <span>Cửa hàng SportTN</span>
  </div>
  <div class="value-item">
    <mat-icon> local_shipping</mat-icon>
    <span>Freeship từ 449k</span>
  </div>
  <div class="value-item">
    <mat-icon>shopping_basket</mat-icon>
    <span>Click & Collect</span>
  </div>
  <div class="value-item">
    <mat-icon>control_point</mat-icon>
    <span>Tích điểm</span>
  </div>
  <div class="value-item">
    <mat-icon>swap_horizontal_circle</mat-icon>
    <span>Đổi trả 365 ngày</span>
  </div>
  <div class="value-item">
    <mat-icon>security</mat-icon>
    <span>Bảo hành 2 năm</span>
  </div>
</div>
