<div class="nav-actions">
  <div class="nav-item account-menu">
    <div class="account-trigger" (click)="goLogin()">
      <mat-icon>account_circle</mat-icon>

      <ng-container *ngIf="currentUser$ | async as auth; else loginLabel">
        <span>{{ auth.userResponse?.username }}</span>
      </ng-container>

      <ng-template #loginLabel>
        <span>Đăng nhập</span>
      </ng-template>
    </div>

    <div class="dropdown" *ngIf="isLoggedIn$ | async">
      <ul *ngIf="currentUser$ | async as auth">
        <li class="user-info-header" (click)="goToAccount()">
          <strong>{{ auth.userResponse?.username }}</strong>
          <p>{{ auth.userResponse?.email }}</p>
        </li>
        <li *ngIf="auth.userResponse && isCustomer(auth.userResponse)">
          <a href="javascript:void(0)">{{ auth.userResponse.totalPoints }} điểm</a>
        </li>
        <li><a routerLink="/account/my-account">Tài khoản</a></li>
        <li><a routerLink="/account/address">Địa chỉ của tôi</a></li>
        <li><a routerLink="/account/order-history">Lịch sử mua hàng</a></li>
        <li><a routerLink="/account/wallet">Ví của tôi</a></li>
        <li>
          <a href="javascript:void(0)"class="logout-link" (click)="handleLogout()">
            Đăng xuất
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="nav-item" routerLink="/home">
    <mat-icon>shop</mat-icon>
    <span>Cửa hàng</span>
  </div>

  <div class="nav-item support-menu">
    <mat-icon>contact_support</mat-icon>
    <span>Hỗ trợ</span>
    <div class="dropdown">
      <ul>
        <li>
          <mat-icon>blur_circular</mat-icon>
          <a routerLink="/support/orders">Theo dõi đơn hàng</a>
        </li>
        <li>
          <mat-icon>swap_horiz</mat-icon>
          <a routerLink="/support/returns">Đổi trả & Bảo hành</a>
        </li>
        <li>
          <mat-icon>supervisor_account</mat-icon>
          <a routerLink="/support/contact">Liên hệ CSKH</a>
        </li>
      </ul>
    </div>
  </div>

  <div (click)="goCart()" class="nav-item cart-item">
    <mat-icon [matBadge]="cartCount" matBadgeColor="warn" matBadgeSize="small">add_shopping_cart</mat-icon>
    <span>Giỏ hàng</span>
  </div>
</div>
