<div class="section">
  <h2>{{ title }}</h2>

  <!-- Banner images -->
  <div class="banner-list">
    <div class="banner-card" *ngFor="let banner of banners">
      <img [src]="banner.imageUrl" alt="{{ banner.title }}">
    </div>
  </div>

  <div>
    <app-category-children [childrenCategories]="childrenCategories"></app-category-children>
  </div>

  <!-- Product list -->
  <div class="product-list">
    <app-product-card
      *ngFor="let product of products"
      [product]="product">
    </app-product-card>
  </div>
</div>
