<div class="product-page">
  <div class="product-top">
    <div class="product-left">
        <img src="assets/aothun.jpg" alt="">
        <img src="assets/aothun.jpg" alt="">
        <img src="assets/aothun.jpg" alt="">
        <img src="assets/aothun.jpg" alt="">
        <img src="assets/aothun.jpg" alt="">
        <img src="assets/aothun.jpg" alt="">
    </div>
    <div class="product-right">
      <app-product-detail></app-product-detail>
    </div>
  </div>

  <div class="product-bottom">
    <app-product-description></app-product-description>
    <app-product-review></app-product-review>
  </div>
</div>
