<div class="products-page" (click)="closeDropdown()">

  <app-page-header
    title="Sản phẩm"
    subtitle="Quản lý danh sách sản phẩm"
    btnLabel="Thêm sản phẩm"
    btnIcon="add"
    (btnClick)="goToAdd()">
  </app-page-header>

  <div class="table-card">

    <!-- Toolbar -->
    <div class="table-toolbar">
      <div class="search-wrap">
        <mat-icon class="search-icon">search</mat-icon>
        <input
          type="text"
          class="search-input"
          placeholder="Tìm tên sản phẩm, thương hiệu..."
          (input)="onSearchInput($any($event.target).value)">
      </div>

<!--      <select class="filter-select" [(ngModel)]="selectedCategory">-->
<!--        <option *ngFor="let c of categories" [value]="c.value">-->
<!--          {{ c.label }}-->
<!--        </option>-->
<!--      </select>-->

      <!-- View mode toggle -->
      <div class="view-toggle">
        <button
          class="view-btn"
          [class.active]="viewMode === 'table'"
          (click)="viewMode = 'table'">
          <mat-icon>table_rows</mat-icon>
        </button>
        <button
          class="view-btn"
          [class.active]="viewMode === 'grid'"
          (click)="viewMode = 'grid'">
          <mat-icon>grid_view</mat-icon>
        </button>
      </div>
    </div>

    <!-- Table view -->
    <div class="table-wrap" *ngIf="viewMode === 'table'">
      <table class="data-table">
        <thead>
        <tr>
          <th>Sản phẩm</th>
          <th>Danh mục</th>
          <th>Thương hiệu</th>
<!--          <th>Giá gốc</th>-->
<!--          <th>Giá sale</th>-->
<!--          <th>Tồn kho</th>-->
<!--          <th>Đã bán</th>-->
          <th>Rating</th>
          <th>Trạng thái</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of products()">
          <td>
            <div class="product-cell">
              <div class="product-thumb">
                <img *ngIf="p.mainImageUrl; else defaultInitials" [src]="p.mainImageUrl" [alt]="p.name" class="product-img"/>
                <ng-template #defaultInitials>
                  {{ getInitials(p.name) }}
                </ng-template>
              </div>
              <span class="product-name">{{ p.name }}</span>
            </div>
          </td>
          <td><span class="category-tag">{{ p.categoryName }}</span></td>
          <td class="brand">{{ p.brandName }}</td>
<!--          <td class="price">{{ formatPrice(p.minPrice) }}</td>-->
<!--          <td class="sale-price">-->
<!--            <span *ngIf="p.salePrice">{{ formatPrice(p.salePrice) }}</span>-->
<!--            <span class="no-sale" *ngIf="!p.salePrice">—</span>-->
<!--          </td>-->
<!--          <td [class.low-stock]="p.totalStock < 50" [class.no-stock]="p.totalStock === 0">-->
<!--            {{ p.totalStock }}-->
<!--          </td>-->
<!--          <td class="sold">{{ p.soldCount?.toLocaleString() }}</td>-->
          <td>
            <div class="rating-cell">
              {{ p.rating }}
              <mat-icon class="star-icon">star</mat-icon>
            </div>
          </td>
          <td>
            <app-status-badge [status]="p.active ? 'ACTIVE' : 'INACTIVE'"></app-status-badge>
          </td>
          <td>
            <div class="action-wrap">

              <!-- Nút 3 chấm -->
              <button
                class="action-more-btn"
                (click)="toggleDropdown(p.id, $event)"
                [class.active]="openDropdownId === p.id">
                <mat-icon>more_horiz</mat-icon>
              </button>

              <!-- Dropdown menu -->
              <div
                class="action-dropdown"
                *ngIf="openDropdownId === p.id"
                (click)="$event.stopPropagation()">

                <button class="dropdown-item" (click)="goToDetail(p.id)">
                  <mat-icon>visibility</mat-icon>
                  <span>Xem chi tiết</span>
                </button>

                <button class="dropdown-item" (click)="goToEdit(p.id)">
                  <mat-icon>edit</mat-icon>
                  <span>Chỉnh sửa</span>
                </button>

<!--                <button class="dropdown-item" (click)="onToggleStatus(p)">-->
<!--                  <mat-icon>{{ p.active ? 'visibility_off' : 'visibility' }}</mat-icon>-->
<!--                  <span>{{ p.active ? 'Ẩn sản phẩm' : 'Hiện sản phẩm' }}</span>-->
<!--                </button>-->

                <div class="dropdown-divider"></div>

                <button class="dropdown-item danger" (click)="onDeleteProduct(p.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Xóa sản phẩm</span>
                </button>

              </div>
            </div>
          </td>

        </tr>
        </tbody>
      </table>
    </div>

    <!-- Grid view -->
    <div class="product-grid" *ngIf="viewMode === 'grid'">
      <div class="product-grid-card" *ngFor="let p of products()">
        <div class="grid-thumb">
          <img [src]="p.mainImageUrl" [alt]="p.name" class="grid-image">
        </div>

        <div class="grid-info">
          <div class="grid-name">{{ p.name }}</div>
          <div class="grid-brand">{{ p.brandName }}</div>
          <div class="grid-price">
            <span class="new-price" *ngIf="p.salePrice">{{ formatPrice(p.salePrice) }}</span>
            <span class="old-price" *ngIf="p.salePrice">{{ formatPrice(p.minPrice) }}</span>
            <span class="new-price" *ngIf="!p.salePrice">{{ formatPrice(p.minPrice) }}</span>
          </div>

          <div class="grid-footer">
            <app-status-badge [status]="p.active ? 'ACTIVE': 'INACTIVE'"></app-status-badge>
            <div class="grid-action-wrap">

              <button
                class="action-more-btn"
                (click)="toggleDropdown(p.id, $event)"
                [class.active]="openDropdownId === p.id">
                <mat-icon>more_horiz</mat-icon>
              </button>

              <div
                class="action-dropdown dropdown-up"
                *ngIf="openDropdownId === p.id"
                (click)="$event.stopPropagation()">

                <button class="dropdown-item" (click)="goToDetail(p.id)">
                  <mat-icon>visibility</mat-icon>
                  <span>Xem chi tiết</span>
                </button>

                <button class="dropdown-item" (click)="goToEdit(p.id)">
                  <mat-icon>edit</mat-icon>
                  <span>Chỉnh sửa</span>
                </button>

                <div class="dropdown-divider"></div>

                <button class="dropdown-item danger" (click)="onDeleteProduct(p.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Xóa</span>
                </button>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Footer -->

    <div class="table-footer">
      <span class="result-count">
        Hiển thị <b>{{ products().length }}</b> / <b>{{ totalElements() }}</b> sản phẩm
      </span>

      <div class="page-size-wrap">
        <span>Mỗi trang:</span>
        <select class="filter-select"
                [ngModel]="pageSize()"
                (ngModelChange)="pageSize.set($event); onPageSizeChange()">
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="20">20</option>
          <option [value]="50">50</option>
        </select>
      </div>

      <div class="pagination">
        <button
          class="page-btn"
          [disabled]="currentPage() === 0"
          (click)="onPageChange(currentPage() - 1)">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <button
          *ngFor="let pageIndex of pagesArray(); trackBy: trackByPageIndex"
          class="page-btn"
          [class.active]="currentPage() === pageIndex"
          (click)="onPageChange(pageIndex)">
          {{ pageIndex + 1 }}
        </button>

        <button
          class="page-btn"
          [disabled]="currentPage() === totalPages() - 1"
          (click)="onPageChange(currentPage() + 1)">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
