.category-page {
  padding: 50px;
}

.category-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  border-bottom: #0e0e11;
  align-items: center;
  gap: 20px;
}

.category-header img {
  height: 110px;
}

.category-header-content span {
  font-size: 16px;
}

.category-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

