<div class="category-page">

    <div class="category-header">
      <img src="assets/sports.jpg" alt="">
      <div class="category-header-content">
        <h2>Môn thể thao</h2>
        <span>Khám phá thế giới thể thao tại Decathlon Việt Nam! Đa dạng các môn, từ chạy bộ, bơi lội đến leo núi,
          với hàng ngàn dụng cụ, quần áo và giày thể thao chất lượng cao với giá cực tốt.
          Phù hợp mọi lứa tuổi, mọi trình độ, giúp bạn tìm thấy đam mê và vận động hiệu quả mỗi ngày.
          Bắt đầu hành trình thể thao của bạn ngay hôm nay
        </span>
      </div>
    </div>

    <div class="category-content">
      <app-filter-sidebar/>

      <app-product-grid/>
    </div>
</div>
