<mat-card class="account-menu">
  <div class="account-header" *ngIf="user$ | async as user">
    <div class="avatar-circle">
      {{ getInitials(user.username) }}
    </div>
    <div class="user-info">
      <h3 *ngIf="user">{{ user.username }}</h3>
      <p class="email" *ngIf="user">{{ user.email }}</p>
    </div>
  </div>

  <mat-divider></mat-divider>

  <mat-nav-list class="menu-list">
    <mat-list-item
      disableRipple
      *ngFor="let item of menuItems"
      [routerLink]="item.routerLink"
      routerLinkActive="active"
    >
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </mat-list-item>
  </mat-nav-list>

  <mat-divider></mat-divider>

  <div class="logout-section">
    <button mat-raised-button color="warn" (click)="logout()" class="logout-btn">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</mat-card>
